<div class="container">
  <div>
    <h1>BGG collection</h1>
    @if (counter != 0) {
      Wczytano {{ counter }} gier
    }
    <div>
      <div class="upload">
        <input (change)="onFileUpload($event)" accept="text/csv" type="file"/> lub <p
        (click)="onLoadMyExample()" class="myCSV bold">użyj mojego CSV</p>
      </div>
      @if (dataLoaded) {

        <div class="options" style="position: relative;">
          <div (click)="toggleOptions()" class="tooltip">Opcje / Options
            @if (!dataLoaded) {
              <span
                class="tooltiptext">Najpierw załaduj plik csv<br>First load csv file</span>
            }
          </div>

          @if (isExpanded) {
            <div id="options-container"
                 (mouseleave)="isExpanded=false">
              @for (option of checkboxOptions; track option) {
                <div class="option-item">
                  <label for="{{ option.key }}">{{ option.key }}</label>
                  <input type="checkbox" (change)="onUpdate(option)"
                         [checked]="option.visible"
                         [(ngModel)]="option.visible"/>
                </div>
              }
            </div>
          }
        </div>

        <div class="expansions">
          <label for="excludeExpansions">Exclude Expansions</label>
          <input (change)="onUpdateExcludeExpansions(excludeExpansions)"
                 type="checkbox"
                 id="excludeExpansions"
                 [(ngModel)]="excludeExpansions"/>
        </div>

      }
    </div>
    <div id="hcContainer"></div>
  </div>
  <div>
    @if (dataLoaded) {
      <ag-grid-angular
        #agGrid
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        class="ag-theme-alpine"
        style="width: 100%; height: 500px;"
        (rowClicked)="onRowClicked($event)"
      ></ag-grid-angular>
    }
  </div>
  <div>
    <br>
    <br>
    <h2>Info:</h2>
    Ściągnij swoją kolekcję z bgg jako csv, a następnie wczytaj ja tu.
    Można to zrobic z tutaj, klikając <span class="bold" (click)="addUserName()">tutaj</span> i
    wpisując nazwę użytkownika.
    <br>
    <br>
    Download your collection from bgg as csv, then upload it here.
    It can be done from here, click <span (click)="addUserName()" class="bold">here</span> and
    input
    your user name.
  </div>

</div>

