.bold {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.container {
  margin: 10px;
  font-family: "Unica One", arial, helvetica, sans-serif, serif;
}

.upload {
  float: left;
  border: 1px solid darkcyan;
  padding: 5px;
  border-radius: 5px;
}

.options {
  cursor: pointer;
  float: right;
  border: 1px solid darkcyan;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

#options-container {
  position: absolute;
  top: 100%; /* This positions the options container just below the "Options" div */
  right: 0; /* Aligns the options container with the right edge of the "Options" div */
  background-color: white; /* White background for the options container */
  z-index: 10; /* Ensures the options container appears above other content */
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc; /* Optional border for styling */
}

.option-item {
  margin: 5px 0;
}
