.bold {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  margin: 10px;
  font-family: "Unica One", arial, helvetica, sans-serif, serif;
}

.upload {
  float: left;
  border: 1px solid darkcyan;
  padding: 5px;
  border-radius: 5px;
}

.options {
  cursor: pointer;
  float: right;
  border: 1px solid darkcyan;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

#options-container {
  position: absolute;
  top: 100%; /* This positions the options container just below the "Options" div */
  right: 0; /* Aligns the options container with the right edge of the "Options" div */
  background-color: white; /* White background for the options container */
  z-index: 10; /* Ensures the options container appears above other content */
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc; /* Optional border for styling */
}

.option-item {
  margin: 5px 0;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.myCSV {
  display: inline;
}
