<div class="container">
  <div>
    <h1>BGG collection</h1>
    <div>
    <input class="upload" type="file" (change)="onFileUpload($event)"/>
      <div class="options">Options</div>
    </div>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 100%; height: 100%; display: block;"
    ></highcharts-chart>
  </div>
  <div>
    <h2>Info:</h2>
    Download your collection from bgg as csv, then upload it here.
    It can be done from here, click <span class="bold" (click)="addUserName()">here</span> and input your user name.
  </div>
</div>
